@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  transition-property: background-color, color, border-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body {
  transition-property: background-color, color, border-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
